/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    /******ligne rajouté par virgile********/
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/*header par Virgile*********************************************************/
h1 {
    font-size: 22px;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    height: 19px;
    padding: 10px;
}

header li {
    border: 2px solid transparent;
    padding-top: 6px;
    text-align: center;
    margin-right: 32px;
    box-sizing: border-box;
}

header li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

p {
    font-size: 16px;
}

.menu ul {
    display: flex;
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0;
}

/*Formulaire par Virgile*******************************************************/
.formulaire {
    display: flex;
    margin-top: 32px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 49px;
    border-right: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.icon i {
    font-size: 18px;
    color: black;
}

.text {
    border: 1px #F2F2F2 solid;
    outline: none;
    padding-left: 1%;
}

.recherche {
    background-color: #0065FC;
    color: white;
    border: none;
    width: 132px;
    font-weight: bold;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 18px;
}


/******filtres********************************************************/
.filtre {
    display: flex;
    align-items: center;
    margin-top: 32px;

}

.filtre h2 {
    margin-right: 16px;
}

.fil {
    height: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    gap: 20px;
    padding-inline: 20px;
}

.ensemble {
    display: flex;
    gap: 20px;
}

.fil:hover {
    background-color: #DEEBFF;
    transition: 0.4s;
}

.filtres i {
    font-size: 22px;
}

.infobar {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 32px;
    margin-top: 16px;
}

.infobar span {
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    flex-shrink: 0;
}

.infobar i {

    display: flex;
    align-items: center;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;


}

/********Hébergement modifié par Virgile *****************************************/
.hebergements-cards {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;

}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {

    Height: 200px;
    display: flex;
    flex-direction: column;

}

.hebergements-cards>a {
    flex: 1;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.hebergements-cards .card-content {

    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.plus {
    font-size: 18px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*************Activité par Virgile***********************************/
#activité {
    margin-left: 32px;
    margin-right: 32px;
}

.activité-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.activité-cards h3 {
    padding-left: 8px;
}

.activité-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activité-cards .card {

    height: 439px;
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    padding: 0px;
    box-shadow: 0 3px 15px #0000001A;
}

.activité-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

/********footer par Virgile******************************************/
footer {
    margin-top: 64px;
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.colonne {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.colonne a {
    padding-bottom: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /***************rajout**************/
    .activité-cards .card {

        height: 270px;

    }

    .activité-cards img {
        width: 100%;
        height: 200px;

    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .filtre {
        flex-direction: column;
        align-items: start;

    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        margin: 0px
    }

    .main-container {
        padding: 0 0;
        box-sizing: border-box;

    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centrer les éléments */

    }

    .hebergements-and-populaires section {
        padding-left: 16px;
        width: 100%;

    }

    /************************header****************/
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header ul {
        width: 100%;
        justify-content: center;
    }

    header li {
        margin-right: 0px;
        border-bottom: 2px solid transparent;
        padding-bottom: 16px;
        flex: 1 1 0%;
        text-align: center;
    }

    header li:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 2px solid transparent;
        color: #0065FC;
    }

    .menu {
        width: 100%;
        display: flex;
        margin-top: 32px;
    }

    .info {
        padding-left: 16px;
        padding-right: 16px;
    }

    /*****************formulaire***************/
    .formulaire {
        justify-content: center;

    }

    .texte {
        display: none
    }

    .recherche {

        height: 49px;
        width: 49px;
        background-color: #0065FC;
        color: white;
        border: none;
        font-weight: bold;
        border-radius: 15px;
        font-size: 18px;
        box-shadow: 0px 4px 4px #00000040;

    }

    .recherche i {
        color: white;
        display: inline-block;
    }

    .text {
        border-right: transparent;
        margin-right: -8px;
    }


    /*************filtre**************/
    .ensemble {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .fil {
        height: 40px;
        gap: 8px;
        font-size: 14px;
        width: auto;
        padding-inline: 16px;
    }

    .fil i {
        height: 22px;
        width: 22px;
    }

    /*populaire*****************************/
    .populaires {
        width: 100%;
        padding: 0px;
        order: 1;
        border-radius: 0px !important;
        margin-top: 0px;
    }

    .populaires-title {
        display: flex;
        align-items: center;

    }

    .populaires-cards {
        width: 100%;
        display: grid;
        justify-content: center;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
        width: 100%;
        height: 146px;

    }

    .populaires-cards img {
        height: 146px;

    }

    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .populaires-cards a {
        width: 100%;
    }

    /*hébergement**********************************/
    #hebergements {
        width: 100%;
        padding: 0px;
        order: 2;
        background-color: white !important;
        margin-top: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .hebergements-cards .card {

        height: 207px;
        display: flex;
        flex-direction: column;
        margin-top: 33px;

    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centrer les cartes */
        justify-content: center;
        width: 100%;
    }

    .hebergements-cards a {
        width: 100%;
    }

    /*activité*******************************************/
    .activité-cards {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .activité-cards .card {
        width: 100%;
        height: 200px;

    }

    .activité-cards img {
        width: 100%;
        height: 141px;
    }

    .activité-cards a {
        width: 100%;
    }


    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}